openapi: "3.0.0"
info:
  title: TravelTribe account API
  version: "1.0.0"
x-yc-apigateway:
  smartWebSecurity:
    securityProfileId: ${security_profile_id}
paths:
  /:
    x-yc-apigateway-any-method:
      x-yc-apigateway-integration:
        type: serverless_containers
        container_id: ${container_id}
        service_account_id: ${service_account_id}
  /{proxy+}:
    x-yc-apigateway-any-method:
      parameters:
        - name: proxy
          in: path
          required: false
          explode: false
          style: simple
          schema:
            type: string
            default: "-"
      x-yc-apigateway-integration:
        type: serverless_containers
        container_id: ${container_id}
        service_account_id: ${service_account_id}
