folder_id            = "replace-with-production-folder-id"
cloud_id             = "replace-with-cloud-id"
environment          = "production"
runtime_ready        = false
custom_domain        = "api.traveltribe.ru"
attach_custom_domain = false
